<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid mt-5">
      <div class="d-flex justify-content-center align-items-center flex-column">
        <h2>Data user barhasil dihapus</h2>
        <a class="btn btn-primary mt-3" href="/dashboard-user-game"
          >kembali ke dashboard</a
        >
      </div>
    </div>
  </body>
</html>
