<!-- take the "header-home.ejs" for the header page -->
<%- include("header-home") -%>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid p-2">
    <a class="navbar-brand fw-bold" href="#">LOGO</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav1 navbar-nav mb-4">
        <li class="nav-item">
          <a class="nav-link active fw-bold" aria-current="page" href="#"
            >HOME</a
          >
        </li>
        <li class="nav-item fw-bold">
          <a class="nav-link" href="#">WORK</a>
        </li>
        <li class="nav-item fw-bold">
          <a class="nav-link" href="#">CONTACT</a>
        </li>
        <li class="nav-item fw-bold">
          <a class="nav-link">ABOUT ME</a>
        </li>
      </ul>
      <ul class="nav2 navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link fw-bold" href="/login">LOGIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="/register">SIGN UP</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main>
  <!-- HOME -->
  <section class="home" id="home">
    <div class="container-fluid">
      <div class="row justify-content-center align-items-center text-center">
        <div class="col-md-12 align-self-center text-center">
          <p class="fw-bold text-white display-3">PLAY TRADITIONAL GAME</p>
          <br /><br />
          <p class="text-white h4">Experience new traditional game play</p>
          <br /><br />
          <button class="btn btn-warning fw-bold">
            <a href="#" class="text-decoration-none text-black">TRIAL</a>
          </button>
        </div>
        <div class="col-md-1 align-self-end">
          <a href="#about"
            ><p>THE STORY</p>
            <svg
              width="23"
              height="12"
              viewBox="0 0 23 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M21.5786 1.83362H1.32422L11.338 10.0027L21.5786 1.83362Z"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- THE GAMES -->
  <section class="about" id="about">
    <div class="container-fluid">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-3 col-md-12 align-self-lg-baseline align-self-end">
          <p>What's so special?</p>
          <h3 class="display-4">THE GAMES</h3>
        </div>
        <div
          class="col-lg-6 col-md-12 align-items-center align-self-lg-center align-self-baseline"
        >
          <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="3"
                aria-label="Slide 4"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="assets/rockpaperstrategy-1600.jpg"
                  class="d-block w-100"
                  alt="assets/rockpaperstrategy-1600.jpg"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="assets/rockpaperstrategy-1600.jpg"
                  class="d-block w-100"
                  alt="assets/rockpaperstrategy-1600.jpg"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="assets/rockpaperstrategy-1600.jpg"
                  class="d-block w-100"
                  alt="assets/rockpaperstrategy-1600.jpg"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="assets/rockpaperstrategy-1600.jpg"
                  class="d-block w-100"
                  alt="assets/rockpaperstrategy-1600.jpg"
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- FEATURES -->
  <section class="features" id="features">
    <div class="container-fluid">
      <div class="row justify-content-end">
        <div class="col-lg-6 col-md-12 align-self-center">
          <div class="judul">
            <p>What's so special?</p>
            <h3 class="display-4">FEATURES</h3>
          </div>
          <div class="step completed">
            <div class="v-stepper">
              <div class="circle"></div>
              <div class="line"></div>
            </div>
            <div class="content">
              <h4>TRADITIONAL GAME</h4>
              <p>
                If you miss your childhood, we provide many traditional games
                here.
              </p>
              <br /><br />
            </div>
          </div>
          <div class="step active">
            <div class="v-stepper">
              <div class="circle"></div>
              <div class="line"></div>
            </div>
            <div class="content">
              <h4>GAME SUIT</h4>
            </div>
            <br /><br />
          </div>
          <div class="step">
            <div class="v-stepper">
              <div class="circle"></div>
              <div class="line"></div>
            </div>

            <div class="content">
              <h4>TBD</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- SPECIFICATION -->
  <section class="spec" id="spec">
    <div class="container-fluid px-lg-5">
      <div class="col-12 text-center">
        <p>Can My Computer Run this game?</p>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12 align-self-lg-center align-self-md-end">
          <h2 class="display-3">
            SYSTEM <br />
            REQUIREMENTS
          </h2>
          <div class="container-fluid">
            <div class="row sys-req">
              <div class="os col-lg-6 col-md-12">
                <p class="judul">OS:</p>
                <p>Windows 7 64-bit only(No OSX support at this time)</p>
              </div>
              <div class="pro col-lg-6 col-md-12">
                <p class="judul">PROCESSOR:</p>
                <p>Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</p>
              </div>
            </div>
            <div class="row sys-req">
              <div class="ram col-lg-6 col-md-12">
                <p class="judul">MEMORY:</p>
                <p>4 GB RAM</p>
              </div>
              <div class="ssd col-lg-6 col-md-12">
                <p class="judul">STORAGE:</p>
                <p>8 GB available space</p>
              </div>
            </div>
            <div class="row sys-req">
              <div class="vga col-12">
                <p class="judul">GRAPHICS:</p>
                <p>
                  NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11
                  (Shader Model 5)
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- TOP SCORES -->
  <section class="top-score" id="top-score">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12 align-self-center">
          <p class="display-2">TOP SCORES</p>
          <p>This top score from various games provided on this platform</p>
          <br /><br />
          <button class="btn btn-warning fw-bold">PLAY NOW</button>
        </div>
        <div class="top-comment col-lg-6 col-md-12 align-self-center">
          <div class="row justify-content-end">
            <div class="comment evan col-lg-8 col-md-12 align-content-end">
              <div class="profile row">
                <div class="col">
                  <div class="profile-sect row">
                    <div class="col-2 align-items-center">
                      <img
                        src="assets/evan.png"
                        alt=""
                        width="100%"
                        class="pp rounded-circle"
                      />
                    </div>
                    <div class="col-8 align-self-center">
                      <div class="row justify-content-center align-items-end">
                        <div class="person-detail col-12 align-self-end">
                          <p class="judul">Evan Lahti</p>
                          <p class="job">PC Gamer</p>
                        </div>
                      </div>
                    </div>
                    <div
                      class="col-2 align-self-center align-content-center text-end"
                    >
                      <img src="assets/twitter-card.png" alt="" width="20px" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-comment row">
                <div class="col align-self-center">
                  <p class="fs-4 text-white">
                    “One of my gaming highlights of the year.”
                  </p>
                </div>
              </div>
              <div class="date-comment row">
                <div class="col align-self-center">
                  <p class="fs-6">June 18, 2021</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-start my-4">
            <div class="comment jada col-lg-8 col-md-12 align-content-start">
              <div class="profile row">
                <div class="col">
                  <div class="profile-sect row">
                    <div class="col-2 align-items-center">
                      <img
                        src="assets/jada.png"
                        alt=""
                        width="100%"
                        class="pp rounded-circle"
                      />
                    </div>
                    <div class="col-8 align-self-center">
                      <div class="row justify-content-center align-items-end">
                        <div class="person-detail col-12 align-self-end">
                          <p class="judul">Jada Griffin</p>
                          <p class="job">Nerdreactor</p>
                        </div>
                      </div>
                    </div>
                    <div
                      class="col-2 align-self-center align-content-center text-end"
                    >
                      <img src="assets/twitter-card.png" alt="" width="20px" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-comment row">
                <div class="col align-self-center">
                  <p class="fs-4">
                    “The next big thing in the world of streaming and survival
                    games.”
                  </p>
                </div>
              </div>
              <div class="date-comment row">
                <div class="col align-self-center">
                  <p class="fs-6">July 10, 2021</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="comment aron col-lg-8 col-md-12">
              <div class="profile row">
                <div class="col">
                  <div class="profile-sect row">
                    <div class="col-2 align-items-center">
                      <img
                        src="assets/aaron.png"
                        alt=""
                        width="100%"
                        class="pp rounded-circle"
                      />
                    </div>
                    <div class="col-8 align-self-center">
                      <div class="row justify-content-center align-items-end">
                        <div class="person-detail col-12 align-self-end">
                          <p class="judul">Aaron Williams</p>
                          <p class="job">Uproxx</p>
                        </div>
                      </div>
                    </div>
                    <div
                      class="col-2 align-self-center align-content-center text-end"
                    >
                      <img src="assets/twitter-card.png" alt="" width="20px" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-comment row">
                <div class="col align-self-center">
                  <p class="fs-4">
                    “Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is
                    Ridiculous.”
                  </p>
                </div>
              </div>
              <div class="date-comment row">
                <div class="col align-self-center">
                  <p class="fs-6">December 24, 2018</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- SUBSCRIBE -->
  <section class="subs" id="subs">
    <div class="container-fluid">
      <div class="news row">
        <div class="col-lg-4 d-lg-block d-md-none d-sm-none d-none">
          <img src="assets/skul.png" width="100%" alt="" />
        </div>
        <div class="col-lg-8 col-md-12">
          <p class="fs-3">
            Want to stay in <br />
            touch?
          </p>
          <p class="display-1">NEWSLETTER SUBSCRIBE</p>
          <p class="fs-5">
            In order to start receiving our news, all you have to do is enter
            your email address. Everything else will be taken care of by us. We
            will send you emails containing information about game. We don’t
            spam.
          </p>
          <br />
          <div class="row justify-content-between">
            <div class="col-lg-8 col-md-12">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  placeholder="Enter email"
                  name="email"
                />
                <label for="email">Your email address</label>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <button class="btn btn-warning fw-bold w-100">
                Subscribe Now
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- take the "footer.ejs" for the footer page -->
      <%- include("footer") -%>
    </div>
  </section>
</main>
