<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid">
      <form action="/register" method="post">
        <div class="mb-3">
          <label for="username" class="form-label">username</label>
          <input
            name="username"
            type="text"
            class="form-control"
            id="username"
          />
        </div>
        <div class="mb-3">
          <label for="role">Role</label>
          <select
            class="form-select"
            name="role"
            aria-label="Default select example"
          >
            <option value="superadmin">Superadmin</option>
            <option value="admin">Admin</option>
            <option value="user">User</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">password</label>
          <input
            name="password"
            type="password"
            class="form-control"
            id="password"
            placeholder="your password"
          />
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">name</label>
          <input name="name" type="text" class="form-control" id="name" />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">email</label>
          <input name="email" type="email" class="form-control" id="email" />
        </div>
        <div class="mb-3">
          <label for="gender" class="form-label">gender</label>
          <input name="gender" type="text" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="dateOfBirth" class="form-label">date</label>
          <input name="dateOfBirth" type="date" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="city" class="form-label">city</label>
          <input name="city" type="text" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">submit</button>
      </form>
    </div>
  </body>
</html>
