<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <p><%= user.username %></p>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">logout</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <a href="/user-page/edit-bio/<%= user.id %>" class="btn"
                >Edit Biodata</a
              >
            </div>
            <div class="col"><a href="/rooms" class="btn">Play now</a></div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
